export LOG_LEVEL="INFO"

export GITHUB_API_URL="URL"
export GITHUB_ACCESS_TOKEN=""

export DATABASE_HOST="commit-tracker-db"
export DATABASE_PORT=3306
export DATABASE_USER="db_user"
export DATABASE_PASSWORD="fMvT82Pr1A7UntrzUDK"
export DATABASE_NAME="commit_history"
